.hero-section {
	.bg-img {
		width: 100%;
		height: 90vw;
		background: url('/images/illustration-working.svg') no-repeat left;
		background-size: 135%;
		background-position-x: 1.5rem;
	}
	.headline {
		padding: 3rem 1.5rem;
		margin: auto;
		text-align: center;
	}

	@include breakpoint-up(md) {
		display: flex;
		padding-top: 3rem;
		padding-left: 1.5rem;

		.bg-img {
			flex: 0 0 45%;
			order: 2;
			height: 34rem;
			max-height: 80vh;
			background-size: 125%;
			background-position-x: 0;
		}
		.headline {
			flex: 0 0 55%;
			text-align: left;
			padding: 0;

			.main-text {
				font-size: 3.5rem;
				line-height: 1.1;
				margin-bottom: 0;
			}
			.second-text {
				max-width: 36rem;
				font-size: $font20;
			}
			.btn-cta {
				height: 3.5625rem;
				line-height: 3.5625rem;
				padding: 0 $lg;
			}
		}
	}
	@include breakpoint-up(lg) {
		padding-left: 10rem;

		.headline {
			.main-text {
				font-size: 5.375rem;
			}
			.second-text {
				font-size: $font24;
			}
		}
	}
}
