.cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0.75rem;
	background-color: hsla(0, 0, 0, 0.25);

	@include breakpoint-down(md) {
		background-color: hsla(0, 0, 0, 0.5);
	}
}
// Clock loader
.loader {
	$clock-color: $cyanLight;
	$clock-width: 4rem;
	$clock-radius: 2rem;
	$clock-minute-length: 1.6rem;
	$clock-hour-length: 0.8rem;
	$clock-thickness: 0.2rem;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: $clock-width;
	height: $clock-width;
	border: 4px solid $clock-color;
	border-radius: 50%;
	z-index: 10;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0.5rem;
		width: $clock-thickness;
		background: $clock-color;
		border-radius: 0.625rem;
		transform-origin: center calc(100% - 0.1rem);
		animation: spin infinite linear;
	}

	&::before {
		top: 0.25rem;
		height: $clock-minute-length;
		animation-duration: 2s;
	}

	&::after {
		top: 1.1rem;
		height: $clock-hour-length;
		animation-duration: 15s;
	}

	@include breakpoint-down(tab) {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
