.link-shorten {
	position: relative;
	padding-top: 2.35rem;
	padding-bottom: 5.5rem;

	.link-shorten-container {
		position: relative;
		padding: 1.5rem;
		background: $darkViolet url('/images/bg-boost-mobile.svg') no-repeat top;
		background-position-x: 20vw;
		border-radius: 0.75rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		input[type='text'],
		button {
			height: 3rem;
			line-height: 3rem;
			border: 0;
			border-radius: 0.5rem;
		}
		input[type='text'] {
			height: calc(3rem - 6px);
			font-size: 1rem;
			padding: 0 1rem;
			color: $veryDarkBlue;
			border: 3px solid transparent;
			outline: none;
			flex: 1;

			&::placeholder {
				color: $grayishViolet;
			}
			&.active {
				border: 3px solid $red;

				&::placeholder {
					color: $red;
				}
			}
		}
		.error-container {
			position: absolute;
			overflow: hidden;
			bottom: 1rem;
			left: 4rem;
			height: 2rem;
			width: 50%;

			.link-error {
				transform: translateY(-110%);
				top: 0;
				left: 0;
				position: absolute;
				font-size: $font14;
				color: $red;
				transition: transform 0.5s ease;

				&.active {
					transform: translateY(0);
				}
			}
		}

		.cover {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 5;
			background-color: hsla(0, 0, 0, 0.25);
		}
		// Clock loader
		.loader {
			--clock-color: $cyan;
			--clock-width: 4rem;
			--clock-radius: calc(var(--clock-width) / 2);
			--clock-minute-length: calc(var(--clock-width) * 0.4);
			--clock-hour-length: calc(var(--clock-width) * 0.2);
			--clock-thickness: 0.2rem;

			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: var(--clock-width);
			height: var(--clock-width);
			border: 3px solid var(--clock-color);
			border-radius: 50%;
			z-index: 10;
			&::before,
			&::after {
				position: absolute;
				content: '';
				top: calc(var(--clock-radius) * 0.25);
				width: var(--clock-thickness);
				background: var(--clock-color);
				border-radius: 10px;
				transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
				animation: spin infinite linear;
			}

			&::before {
				height: var(--clock-minute-length);
				animation-duration: 2s;
			}

			&::after {
				top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
				height: var(--clock-hour-length);
				animation-duration: 15s;
			}
		}
	}

	.links-shortened-container {
		padding-top: 1.5rem;
		display: flex;
		flex-direction: column;

		.link-shortened-card {
			background-color: $white;
			border-radius: 0.75rem;
			box-shadow: 2px 2px 5px hsla(0, 0, 0, 0.15);
			margin-bottom: 1.5rem;
			overflow: hidden;

			& > * {
				padding: 1rem 1.5rem;
			}
			.original {
				color: $veryDarkBlue;
				border-bottom: 1px solid $bg-gray;
				animation: to-right 0.5s ease forwards;
			}
			.shortened {
				color: $cyan;
				animation: to-bottom 0.75s ease-in forwards;
			}
			.btn-wrapper {
				width: 100%;
				padding: 0 1.5rem 1rem;
				animation: to-top 1s ease-out forwards;

				.copy-btn {
					width: inherit;
					padding: $xs 0;
					border: 0;
					border-radius: 0.5rem;
					transition: background-color 0.3 ease;

					&.active {
						background-color: $darkViolet;
					}
				}
			}
		}
	}
	&::after {
		content: '';
		position: absolute;
		top: 7.35rem;
		left: 0;
		height: calc(100% - 7.35rem);
		width: 100%;
		background-color: $bg-gray;
		z-index: -1;
	}

	@include breakpoint-up(md) {
		padding-top: 3rem;
		max-width: 100%;

		.link-shorten-container {
			padding: 3.25rem 4rem;
			background: $darkViolet url('/images/bg-shorten-desktop.svg') no-repeat;
			background-position-x: 50%;
			background-size: 110%;
			flex-direction: row;

			input[type='text'] {
				height: 4rem;
				line-height: 4rem;
			}
			button {
				height: 4rem;
				line-height: 4rem;
				font-weight: 400;
				padding: 0 2.6125rem;

				transition: background-color 0.3s ease;
				&:hover {
					background-color: $cyanLight;
				}
			}
		}

		.links-shortened-container {
			.link-shortened-card {
				display: flex;
				align-items: center;
				padding: 0.75rem 2rem 0.75rem 1.25rem;

				& > * {
					padding: 0;
				}

				.original {
					flex: 0 0 50%;
					border: 0;
				}
				.shortened {
					flex: 1;
					text-align: right;
				}
				.btn-wrapper {
					width: fit-content;
					height: $lg;
					padding: 0 0 0 $font24;
					.copy-btn {
						height: $lg;
						line-height: $lg;
						padding: 0 2rem;
						transition: background-color 0.3s ease;
						&:hover {
							background-color: $cyanLight;
						}
					}
				}
			}
		}

		&::after {
			top: 8.2rem;
			height: calc(100%-8.2rem);
		}
	}
}
