.stat-section {
	padding-bottom: 0.1rem;
	color: $grayishViolet;
	background-color: $bg-gray;

	.stat-card-wrapper {
		padding-top: 5rem;

		.stat-card {
			position: relative;
			width: 100%;
			margin-bottom: 5.9rem;
			padding: 5.35rem $md 2.5rem;
			text-align: center;
			border-radius: 0.5rem;
			background-color: $white;
			box-shadow: 2px 2px 5px hsla(0, 0, 0, 0.1);

			.stat-img {
				position: absolute;
				top: 0;
				left: 50%;
				width: 5.85rem;
				height: 5.85rem;
				border-radius: 50%;
				background-color: $darkViolet;
				transform: translate(-50%, -50%);

				img {
					position: relative;
					top: 50%;
					width: auto;
					height: 3rem;
					transform: translateY(-50%);
				}
			}
			.stat-text {
				margin-top: 0.75rem;
				font-size: 1rem;
			}

			&:not(:last-of-type)::after {
				content: '';
				position: absolute;
				bottom: -3rem;
				left: 50%;
				width: 0.5rem;
				height: 3rem;
				background-color: $cyan;
				transform: translateX(-50%);
			}
		}
	}

	@include breakpoint-up(md) {
		max-width: 100%;
		.stat-card-wrapper {
			display: flex;

			& > *:nth-child(1) {
				margin-bottom: calc(5.9rem + 5.5rem);

				&::before {
					content: '';
					position: absolute;
					background-color: $cyan;
					top: 10rem;
					width: 2rem;
					height: 0.5rem;
					right: -2rem;
				}
				&::after {
					display: none;
				}
			}
			& > .stat-card:nth-child(2) {
				margin-top: 2.75rem;
				margin-left: 2rem;
				margin-right: 2rem;
				margin-bottom: calc(2.75rem + 5.9rem);

				&::before {
					content: '';
					position: absolute;
					background-color: $cyan;
					top: 7.25rem;
					width: 2rem;
					height: 0.5rem;
					right: -2rem;
				}
				&::after {
					display: none;
				}
			}
			& > *:nth-child(3) {
				margin-top: 5.5rem;
			}

			.stat-card {
				padding-top: 4.5rem;
				.stat-img {
					left: 4.75rem;
				}
				.stat-head {
					text-align: left;
				}
				.stat-text {
					text-align: left;
				}
			}
		}
	}
}
