// Colors
// Primary
$cyan: hsl(180, 66%, 49%);
$cyanLight: hsl(180, 66%, 75%);
$darkViolet: hsl(257, 27%, 26%);
//Secondary
$red: hsl(0, 87%, 67%);
// Neutral
$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);
$white: hsl(0, 0%, 100%);
$bg-gray: hsl(226, 74%, 95%);

// Fonts
$font14: 0.875rem;
$font18: 1.125rem;
$font20: 1.25rem;
$font22: 1.375rem;
$font24: 1.5rem;
$font30: 1.875rem;

$fw500: 500;
$fw700: 700;

// Useful vars
$xs: 0.625rem;
$sm: 1.125rem;
$md: 1.875rem;
$lg: 2.5rem;
